body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*background: black;*/
    /*font-family: 'NEXT ART';*/
}


#start_canvas {
    width: 100%;
    height: 100%;
    margin: 0px;
    background: lightgray;
    position: absolute;
    transform: scale(1, 1);
    transition: transform 1s cubic-bezier(1, 0, 0, 1);
}


.fadein {
    display: flex; /*flex로 가로 정렬*/
    align-items: center; /*align-items 가운데 정렬해서 가로로 가운데 오게끔*/
    pointer-events: none;
    height: 80vh;
    opacity: 0;
    transition: all 0.7s ease 0.8s;
}

::-webkit-scrollbar {
    display: none;
}


a {
    color: black;
    text-decoration: none; /*및줄 없애기*/
}

img {
    height: 55vh;
    margin-bottom: 80vh;
}

.head_line {
    flex-direction: column; /*flex 인데 세로로 정렬*/
    text-align: center; /*세로인데 center 로 정렬*/
    width: 20vw;
    padding-left: 4vw;
    padding-right: 3vw;
    margin-bottom: 70vh;
    transition: margin 1s ease 0.5s;
}

.preview {
    flex-direction: column;
    overflow: hidden; /*함수로만 스크롤 할 수 있게끔*/
    align-items: center;
    /*padding-top: 10vh;*/
    width: 100%;
    height: 55vh;
    /*margin-top: 70vh;*/
    scroll-behavior: smooth; /*스크롤 부드럽게 넘어가게*/
    /*transition: margin 0.3s ease;*/
}

ul {
    list-style: none; /*앞에 데코레이션 없앰*/
    margin: 0px;
    height: 75vh;
    /*display: inline;*/
}

.up_down_btn {
    width: 40px;
    height: 40px;
    transform: rotate(90deg); /*90도 로 회전 (deg, rad, grad, turn = 360deg)*/
    transform-origin: center center; /*기준점 잡음*/
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.fadein button {
    width: 40px;
    height: 40px;
    transform: rotate(90deg); /*90도 로 회전 (deg, rad, grad, turn = 360deg)*/
    transform-origin: center center; /*기준점 잡음*/
    margin-right: 3vw;
}

.type_line {
    font-size: 100px;
    position: absolute; /*position absolute로 선언하여 다른 레이아웃 생성*/
    margin-top: 60vh;
    margin-bottom: 10px;
    transition: margin 0.7s ease 0.7s;
    margin-left: -15vw;
}