<html>
<head>
    <meta charset="UTF-8">
    <title>Item Details</title>

<!--import JS-->
    <script src="../static/js/bootstrap.min.js?ver=5"></script>
    <script src="../static/js/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/font/font.css">
    <link rel="stylesheet" href="../static/style/start_page.css">


</head>
<body>


<center>
<div class="first_last">
    <a href="#" class="btn_image">
        <img class="cover" src="../static/image/Logo.002.png">
    </a>
</div>

<div id="main">
    <h2 class="font_main">주요 내용거리가 들어갑니다.</h2>
    <div class="wrapper">
    <h2> button style 1 </h2>
    <a href="#" class="btn">Button</a>
    <ul>
        <i> <a href="page_test.html"><img class="img" src="../static/image/Logo.jpeg"> <p>test</p> </a></i>
        <i> <a href="page_test.html"><img class="img" src="../static/image/Logo.jpeg"> <p>test</p> </a></i>
        <i> <a href="page_test.html"><img class="img" src="../static/image/Logo.jpeg"> <p>test</p> </a></i>
        <i> <a href="page_test.html"><img class="img" src="../static/image/Logo.jpeg"> <p>test</p> </a></i>
        <i> <a href="page_test.html"><img class="img" src="../static/image/Logo.jpeg"> <p>test</p> </a></i>
        <i> <a href="page_test.html"><img class="img" src="../static/image/Logo.jpeg"> <p>test</p> </a></i>
        <i> <a href="page_test.html"><img class="img" src="../static/image/Logo.jpeg"> <p>test</p> </a></i>
        <i> <a href="page_test.html"><img class="img" src="../static/image/Logo.jpeg"> <p>test</p> </a></i>
        <i> <a href="page_test.html"><img class="img" src="../static/image/Logo.jpeg"> <p>test</p> </a></i>
        <i> <a href="page_test.html"><img class="img" src="../static/image/Logo.jpeg"> <p>test</p> </a></i>


    </ul>

</div>

<div class="first_last">
    <h1 class="font_main">마지막 라인입니다.</h1>
</div>
</center>

</body>
</html>