<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/js/bootstrap.min.js?ver=5"></script>
    <script src="../static/js/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/font/main_menu.css">
</head>
<body>
<div>
    <p style="margin: 0px" id="btn_call">
        <button>
            <img style="height: 100px" src="../static/image/Logo.002.png">
        </button>
    </p>

    <canvas style="background: blue; height: 100px; width: 100px">안녕</canvas>
</div>




</body>

<script>

    let btn_call_change = document.getElementById("btn_call");

    btn_call_change.addEventListener("click",function (){
        btn_call_change.style.transform.scale = "(1,1)";
    });

</script>

</html>